/* Navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom:30px;
}

/* Home Section */
#home{
    height: 200px;
    padding: 1px 20px;
    
}

#home::before{
    height: 400px;
    
}

#home p{
    font-size: 13px;
}

/* Services Section */
#services{
    flex-direction: column;

}

#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 0px;
    height: 400px;
    border-radius: 28px;
    background-color: rgb(232, 223, 212);
    margin-bottom: 20px;}

#services .box img {
    height: 115px;
    width: 140px;
    margin: auto;
    display: block;}

/* Client Setion */
#clients{
   flex-wrap:wrap ;
}
#clients img{
   width: 66px;
   padding: 2px 4px;
   height: auto;
}

/* Contact Us Section */

/* Footer */

/* Utility Classes */
.h-primary{
    font-size:26px ;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}